APP_ENV=prod

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=doc-pipeline-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

RABBITMQ_USER=rabbit
RABBITMQ_PASSWORD=rabbit
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_QUEUE=jobs

S3_BUCKET=cusotm-s3-bucket
AWS_REGION=us-east-1