APP_ENV=dev

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=doc-pipeline-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

RABBITMQ_USER=rabbit
RABBITMQ_PASSWORD=rabbit
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_QUEUE=jobs

S3_BUCKET=custom-s3-bucket
AWS_REGION=us-east-1

S3_ENDPOINT_URL=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
